.WatchLater {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.watch-later-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 4rem;
}

.watch-later-section>*:not(h1) {
    width: 17.5rem;
}

.WatchLater h1 {
    text-align: left;
}

.WatchLater h1.empty-watch-later {
    text-align: center;
}

@media screen and (max-width: 600px) {
    .WatchLater h1 {
        font-size: 1.5rem;
    }
}